<%= form_for @review, url:url do |p| %>

    <div>
        <%= p.hidden_field :user_id, :value => current_user.id%>
        </div>
        
        <div>
        <%= p.hidden_field :playdate_id, :value => playdate.id%>
    </div>
    <div>
    <%= p.label :description %>
    <%= p.text_area :description %>
    </div>

    <%= p.submit  %>

    <% end %>